In [2]:
import pandas as pd

In [3]:
log = pd.read_csv("data/combined_event_log_anonymous.csv")

human = pd.read_csv("data/human.csv")

/var/folders/b6/7128wh613rqcbppftg_0hb2h0000gn/T/ipykernel_70520/2448699005.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  log = pd.read_csv("data/combined_event_log_anonymous.csv")

In [4]:
log[~ log['act_upd_by'].isin(human['act_upd_by'])]

Empty DataFrame
Columns: [app_num, act_upd_date, act_upd_by, activity_id, group, activity, activity_status, cor, citz, activity_full_value]
Index: []

In [5]:
human[~ human['act_upd_by'].isin(log['act_upd_by'])]

Empty DataFrame
Columns: [act_upd_by, human]
Index: []

In [6]:
log2 = log.merge(human)
log2['autom'] = ~ log2['human']
log2

,app_num,act_upd_date,act_upd_by,activity_id,group,activity,activity_status,cor,citz,activity_full_value,human,autom
0,0,2024-06-03 09:20:37.327,0,1-SQ1RI5F,NaN,Application Status,Prospective,Vietnam,Vietnam,Application Status - Prospective,False,True
1,0,2024-06-03 09:20:37.327,1,0,NaN,Misrepresentation,NIL,Vietnam,Vietnam,Misrepresentation - NIL,True,False
2,0,2024-06-03 09:20:37.327,1,0,NaN,Eligibility Assessment,NIL,Vietnam,Vietnam,Eligibility Assessment - NIL,True,False
3,0,2024-06-03 09:20:37.327,1,0,NaN,Final Assessment,NIL,Vietnam,Vietnam,Final Assessment - NIL,True,False
4,0,2024-06-03 09:20:37.327,1,0,NaN,Received,Date,Vietnam,Vietnam,Received - Date,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
543298,7733,2024-06-17 07:46:39.433,281,1-STC2A6X,NaN,Other Reqs Assessment,NIL,Belgium,Cameroon,Other Reqs Assessment - NIL,True,False
543299,7733,2024-06-26 08:11:25.043,281,1-STC2A6X,NaN,Eligibility Assessment,Review Required,Belgium,Cameroon,Eligibility Assessment - Review Required,True,False
543300,7733,2024-06-28 10:45:09.050,281,1-STC2A6X,NaN,Eligibility Assessment,Failed,Belgium,Cameroon,Eligibility Assessment - Failed,True,False
543301,7733,2024-06-28 10:45:09.587,281,1-STC2A6X,NaN,Final Assessment,Refused,Belgium,Cameroon,Final Assessment - Refused,True,False
543302,7733,2024-06-28 10:45:24.547,281,1-STC2A6X,NaN,Application Status,Closed,Belgium,Cameroon,Application Status - Closed,True,False

In [19]:
all_activ = log2['activity'].unique()
autom_activ = pd.Series(log2[log2['autom']==True]['activity'].unique())
human_activ = pd.Series(log2[log2['human']==True]['activity'].unique())

print("full:", all_activ)
print("only autom:\n", autom_activ[~ autom_activ.isin(human_activ)])
print("only autom:\n", human_activ[~ human_activ.isin(autom_activ)])
print("both autom & human:\n", human_activ[human_activ.isin(autom_activ)])

full: ['Application Status' 'Misrepresentation' 'Eligibility Assessment'
 'Final Assessment' 'Received' 'Biometric Assessment' 'Criminality'
 'Criminality Assessment' 'Biometrics - RCMP' 'Biometrics Fee'
 'Study Permit Fee' 'Candidate Search' 'Integrated Search'
 'Candidate ID Decision' 'Candidate ID' 'Auto Promote'
 'Auto Promote Decision' 'Biographic' 'Biometric - FCC - USA'
 'Verification' 'Other Reqs Assessment' 'Medical' 'Medical Assessment'
 'Application Transfer' 'Work Permit Fee' 'Biometric - FCC Detail - USA'
 'Biometrics Family Rate Fee' 'Compliance SP' 'Post Identity Checks'
 'Identity Verification' 'Associate Medicals' 'Identity Review'
 'Misrep Assessment' 'Biometric - FCC - NZ' 'Auto Approval Decision'
 'Security' 'Security Assessment' 'Entry/Exit Summary' 'Overpayment Fee'
 'Verification-QA' 'Non-compliance' 'Visa Validation'
 'Biometric - FCC - AUS' 'Biometric - FCC Detail - AUS'
 'Biographic - Correction' 'Candidate Verification'
 'Candidate Name Search' 'Derogatory Verification' 'Chinook Automation'
 'Biometric - FCC Reciprocal - AUS' 'Note Review' 'VIT 34'
 'Open Work Permit Holder Fee Fee' 'Entry/Exit Detail'
 'Derogatory Information']
only autom:
 18      Identity Verification
19         Associate Medicals
30            Visa Validation
31      Biometric - FCC - AUS
34    Biographic - Correction
40                     VIT 34
dtype: object
only autom:
 0                    Misrepresentation
3                             Received
13                Application Transfer
27              Auto Approval Decision
35                     Verification-QA
37                      Non-compliance
38        Biometric - FCC Detail - AUS
40              Candidate Verification
42                  Chinook Automation
43    Biometric - FCC Reciprocal - AUS
45                         Note Review
47                   Entry/Exit Detail
48              Derogatory Information
dtype: object
both autom & human:
 1              Eligibility Assessment
2                    Final Assessment
4                Biometric Assessment
5                         Criminality
6              Criminality Assessment
7                   Biometrics - RCMP
8               Candidate ID Decision
9                  Application Status
10              Biometric - FCC - USA
11              Other Reqs Assessment
12                 Medical Assessment
14                            Medical
15                   Study Permit Fee
16                     Biometrics Fee
17                    Work Permit Fee
18       Biometric - FCC Detail - USA
19                      Compliance SP
20                    Identity Review
21                  Misrep Assessment
22                       Verification
23                   Candidate Search
24                  Integrated Search
25                       Candidate ID
26              Auto Promote Decision
28                           Security
29                Security Assessment
30                         Biographic
31                 Entry/Exit Summary
32                       Auto Promote
33                    Overpayment Fee
34         Biometrics Family Rate Fee
36               Biometric - FCC - NZ
39               Post Identity Checks
41              Candidate Name Search
44            Derogatory Verification
46    Open Work Permit Holder Fee Fee
dtype: object

In [27]:
case_human = log2.groupby('app_num')['human'].any()
case_human[case_human==True]

app_num
0       True
1       True
2       True
3       True
4       True
        ...
7729    True
7730    True
7731    True
7732    True
7733    True
Name: human, Length: 7734, dtype: bool

In [25]:
case_autom = log2.groupby('app_num')['autom'].all()
case_autom[case_autom==True]

Series([], Name: autom, dtype: bool)

In [ ]:
case_human = log2.groupby('app_num')['human'].all()
case_human[case_human==True]

app_num
503     True
574     True
2047    True
2437    True
2595    True
4180    True
4212    True
4299    True
Name: human, dtype: bool